body{
    background-color: var(--bs-gray-800);
}
p{
    color: white;
}
h1, aside h5, footer h5{
    color: white !important;
}
.offcavas p{
    color: black;
}
header{
    background-color: var(--bs-dark);
}
.navbar-brand{
    color: var(--bs-light);
}
.nav-link{
    color: var(--bs-gray-400);
}
.nav-link.active{
    color: var(--bs-blue) !important;
}
header .navbar-toggler{
    color: white;
}
aside{
    background-color: var(--bs-gray-800);
    border-color: var(--bs-gray-500) !important;
}
aside .nav-link:hover{
    background-color: var(--bs-gray-600);
}
.card{
    border: none;
    box-shadow: 0px 0px 10px 2px rgba(15, 15, 15, 0.5) !important;
    background-color: var(--bs-dark);
}
.card a.brand_name{
    color: var(--bs-gray-400);
}
label{
    color: white;
}
footer{
    background-color: var(--bs-dark);
}
footer hr{
    border-color: var(--bs-gray-500);
}
footer div.d-flex > a{
    color: var(--bs-gray-500);
}